{% extends "core/base.html" %}
{% load static %}
{% block css %}
<title>Detalle empleado</title>
{% endblock %}
{% block contenido %}
<div class="container">
    <h1>Detalle del Empleado</h1>
    <div class="col-12 row">
        <div class="col-4"><strong>Código</strong>
            <input type="text" name="codigo" id="id_codigo" class="form-control"
                readonly value="{{ empleado.codigo|default_if_none:'' }}">
        </div>
    </div>
    <div class="col-12 row">
        <div class="col-4"><strong>Nombre</strong> 
            <input type="text" name="nombre" id="id_nombre" class="form-control"
            readonly value="{{ empleado.nombre|default_if_none:'' }}">
        </div>
        <div class="col-4"><strong>Paterno</strong> 
            <input type="text" name="paterno" id="id_paterno" class="form-control"
            readonly value="{{ empleado.paterno|default_if_none:'' }}">
        </div>
        <div class="col-4"><strong>Materno</strong> 
            <input type="text" name="materno" id="id_materno" class="form-control"
            readonly value="{{ empleado.materno|default_if_none:'' }}">
        </div>

        <div class="col-6"><strong>RFC</strong> 
            <input type="text" name="rfc" id="id_rfc" class="form-control"
            readonly value="{{ empleado.rfc|default_if_none:'' }}">
        </div>
        <div class="col-6"><strong>CURP</strong> 
            <input type="text" name="curp" id="id_curp" class="form-control"
            readonly value="{{ empleado.curp|default_if_none:'' }}">
        </div>
    </div>
    <div class="col-12 row">
        <div class="col-4"><strong>Genero</strong> 
            <input type="text" name="genero" id="id_genero" class="form-control"
            readonly value="{{ empleado.get_genero_display|default_if_none:'' }}">

            
        </div>
        <div class="col-4"><strong>Estatus</strong> 
            <input type="text" name="estatus" id="id_estatus" class="form-control"
            readonly value="{{ empleado.get_estatus_display|default_if_none:'' }}">
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <a class="btn btn-info col-4 info1" href="{% url 'listar_empleados' %}">
            <img src="{% static 'core/img/regresar.svg' %}" alt="">
        </a>
    </div>
</div>
{% endblock %}