{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block css %}
<title>{{ forma }}</title>
<style>
.info1 {
    margin-left: 10px;
}    
</style>
{% endblock %}
{% block contenido %}
<form method="post">
    <div class="container">
        <h1>{{ forma }}</h1>
        {% csrf_token %}
        <div class="col-12 row">
            <div class="col-4"><strong>{{ form.codigo.label_tag }}</strong> {{ form.codigo }}</div>
        </div>
        <div class="col-12 row">
            <div class="col-4"><strong>{{ form.nombre.label_tag }}</strong> {{ form.nombre }}</div>
            <div class="col-4"><strong>{{ form.paterno.label_tag }}</strong> {{ form.paterno }}</div>
            <div class="col-4"><strong>{{ form.materno.label_tag }}</strong> {{ form.materno }}</div>

            <div class="col-6"><strong>{{ form.rfc.label_tag }}</strong> {{ form.rfc }}</div>
            <div class="col-6"><strong>{{ form.curp.label_tag }}</strong> {{ form.curp }}</div>
        </div>
        <div class="col-12 row">
            <div class="col-4"><strong>{{ form.genero.label_tag }}</strong> {{ form.genero }}</div>
            {% if forma == 'Edita empleado' %}
            <div class="col-4"><strong>{{ form.estatus.label_tag }}</strong> {{ form.estatus }}</div>
            {% endif %}
        </div>
        {% if forma == 'Edita empleado' %}
        <hr>
        <div class="row justify-content-center">
            <a class="btn btn-info col-1 fs-7" href="{% url 'domicilio_empleado' pk %}" title="Domicilio">
                <img src="{% static 'core/img/domicilio.svg' %}" alt="">
            </a>
            <a class="btn btn-info col-1 info1" href="{% url 'familia_empleado' pk %}" title="Familiares">
                <img src="{% static 'core/img/familiar.svg' %}" alt="">
            </a>
            <a class="btn btn-info col-1 info1" href="{% url 'beneficiario_empleado' pk %}" title="Beneficiarios">
                <img src="{% static 'core/img/beneficiario.svg' %}" alt="">
            </a>
            <a class="btn btn-info col-1 info1" href="{% url 'escolaridad_empleado' pk %}" title="Escolaridad">
                <img src="{% static 'core/img/escolaridad.svg' %}" alt="">
            </a>
            <a class="btn btn-info col-1 info1" href="{% url 'experiencia_empleado' pk %}" title="Experiencia laboral">
                <img src="{% static 'core/img/experiencia.svg' %}" alt="">
            </a>
            <a class="btn btn-info col-1 info1 " href="{% url 'idioma_empleado' pk %}" title="Idioma">
                <img src="{% static 'core/img/idioma.svg' %}" alt="">
            </a>
            <a class="btn btn-info col-1 info1" href="{% url 'referencia_empleado' pk %}" title="Referencias">
                <img src="{% static 'core/img/referencia.svg' %}" alt="">
            </a>
        </div>
        {% endif %}
        <hr>
        <div class="row justify-content-center">
            <button class="btn btn-success col-4" type="submit">
                <img src="{% static 'core/img/guardar.svg' %}" alt="">
            </button>
            <a class="btn btn-info col-4 info1" href="{% url 'listar_empleados' %}">
                <img src="{% static 'core/img/regresar.svg' %}" alt="">
            </a>
        </div>
    </div>
</form>
{% endblock %}