{% extends "core/base.html" %}
{% load static %}
{% block css %}
<title>Experiencia empleado</title>
{% endblock %}
{% block contenido %}
<form id="formaExperiencia" method="post" action="{% url 'experiencia_empleado' pk %}">
    {% csrf_token %}
    <div>
        <h1>Lista de trabajos</h1>
        <div class="form-group col-4" id="gpo_btn_cliente">
            <button type="button" class="btn btn-info" id="btn-agrega">
                Agrega experiencia laboral
            </button>
        </div>
        <table class="table table-striped" id="tabla_experiencia">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Empresa</th>
                    <th>Puesto</th>
                    <th class="col-4">Actividades</th>
                    <th class="text-center">Fecha inicial</th>
                    <th class="text-center">Fecha final</th>
                </tr>
            </thead>
            <tbody>
                {% for trabajo in datos.experiencia %}
                <tr>
                    <td><img class="btnEliminarFila" src="{% static 'core/img/eliminar.svg' %}" alt=""></td>
                    <td><img class="btnEditarFila" src="{% static 'core/img/editar.svg' %}" alt=""></td>
                    <td>{{ trabajo.empresa }}</td>
                    <td>{{ trabajo.puesto }}</td>
                    <td>{{ trabajo.actividades }}</td>
                    <td class="text-center">{{ trabajo.fecha_inicial }}</td>
                    <td class="text-center">{{ trabajo.fecha_final }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <div class="row justify-content-center">
            <button class="btn btn-success col-4" type="submit">
                <img src="{% static 'core/img/guardar.svg' %}" alt="">
            </button>
            <a class="btn btn-info col-4 info1" href="{% url 'modificar_empleado' pk %}">
                <img src="{% static 'core/img/regresar.svg' %}" alt="">
            </a>
        </div>

    </div>
    <input type="text" name="datosTabla" id="id_datosTabla" hidden>
</form>
<div class="modal fade" id="experiencia_empleado" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: darkgrey;">
            <div class="modal-header">
                <h4 class="encabezados" style="font-weight: bold;">Nueva experiencia laboral</h4>
                <button type="button" class="btn btn-info" data-dismiss="modal" title="Cancelar"
                    id="btn-cancela">
                    <img src="{% static 'core/img/regresar.svg' %}" width="20" />
                </button>
                <button type="button" class="btn btn-success" title="Agregar" 
                    id="btn-guarda">
                    <img src="{% static 'core/img/autoriza.svg' %}" width="20" />
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="text" name="editar" id="id_editar" class="form-control"></input>
                    <div class="form-group col-12">
                        <strong>Empresa:</strong>
                        <input type="text" name="empresa" id="id_empresa" class="form-control">
                        <input type="text" name="empresa_can" id="id_empresa_can" class="form-control" hidden>
                    </div>
                    <div class="form-group col-8">
                        <strong>Puesto:</strong>
                        <input type="text" name="puesto" id="id_puesto" class="form-control">
                        <input type="text" name="puesto_can" id="id_puesto_can" class="form-control" hidden>
                    </div>
                    <div class="form-group col-6">
                        <strong>Fecha inicial:</strong>
                        <input type="date" name="fecha_incial" id="id_fecha_inicial" class="form-control">
                        <input type="date" name="fecha_incial_can" id="id_fecha_inicial_can" class="form-control" hidden>
                    </div>
                    <div class="form-group col-6">
                        <strong>Fecha final:</strong>
                        <input type="date" name="fecha_final" id="id_fecha_final" class="form-control">
                        <input type="date" name="fecha_final_can" id="id_fecha_final_can" class="form-control" hidden>
                    </div>
                    <div class="form-group col-12">
                        <strong>Actividades:</strong>
                        <textarea type="text" name="actividades" id="id_actividades" class="form-control" rows="4"></textarea>
                        <textarea type="text" name="actividades_can" id="id_actividades_can" class="form-control" hidden></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<script>
    {% block docred %}
    $('#formaExperiencia').submit(function(event) {
        // Evitar el envío del formulario por defecto
        event.preventDefault();

        // Obtener los datos de la tabla y serializarlos como JSON
        var datosTabla = obtenerDatosTabla();
        var datosJson = JSON.stringify(datosTabla);

        // Establecer los datos JSON en el campo oculto del formulario
        $('#id_datosTabla').val(datosJson);

        // Enviar el formulario
        this.submit();
    });
    function obtenerDatosTabla() {
        var datos = [];
        $('#tabla_experiencia tbody tr').each(function() {
            var fila = {};
            $(this).find('td').each(function(index) {
                if (index === 0 || index === 1) return; // Saltar la primera columna (botón de eliminar)
                if (index == '2') {
                    fila['empresa'] = $(this).text();
                } else if (index == '3') {
                    fila['puesto'] = $(this).text();
                } else if (index == '4') {
                    fila['actividades'] = $(this).text();
                } else if (index == '5') {
                    fila['fecha_inicial'] = $(this).text();
                } else {
                    fila['fecha_final'] = $(this).text();
                }
            });
            datos.push(fila);
        });
        return datos;
    }
    $('#btn-agrega').on('click', function () {
        $('#id_editar').val('Nuevo');
        $('#id_empresa, #id_puesto, #id_actividades, #id_fecha_inicial, #id_fecha_final').val('');
        $('#experiencia_empleado').modal('show');
    });
    $('#btn-guarda').on('click', function () {
        $('#id_editar').val('Nuevo');
        btn_agrega_experiencia();
        $('#escuelas_empleado').modal('hide');
    });
    function btn_agrega_experiencia() {

        if ($('#id_editar').val() == 'Edita') {
        // Captura de valores de los campos de la ventana modal
            var empresa = $('#id_empresa_can').val();
            var puesto = $('#id_puesto_can').val();
            var actividades = $('#id_actividades_can').val();
            var fecha_inicial = $('#id_fecha_inicial_can').val();
            var fecha_final = $('#id_fecha_final_can').val();
        } else if ($('#id_editar').val() == 'Nuevo') {
            var empresa = $('#id_empresa').val();
            var puesto = $('#id_puesto').val();
            var actividades = $('#id_actividades').val();
            var fecha_inicial = $('#id_fecha_inicial').val();
            var fecha_final = $('#id_fecha_final').val();
        } else {
            $('#experiencia_empleado').modal('hide');
            return;
        }

        // Verificación de valores
        if (!empresa || !puesto) {
            alert('Por favor, complete todos los campos.');
            return;
        }

        // Creación de la nueva fila de la tabla
        direccion_imagen_elimina = "{% static 'core/img/eliminar.svg' %}";
        direccion_imagen_edita = "{% static 'core/img/editar.svg' %}";
        var newRow = '<tr>' +
            '<td><img class="btnEliminarFila" src="' + direccion_imagen_elimina + '" alt=""></td>' +  // Botón de eliminar en la primera columna
            '<td><img class="btnEditarFila" src="' + direccion_imagen_edita + '" alt=""></td>' +  // Botón de editar en la primera columna
            '<td>' + empresa + '</td>' +
            '<td>' + puesto + '</td>' +
            '<td>' + actividades + '</td>' +
            '<td>' + fecha_inicial + '</td>' +
            '<td>' + fecha_final + '</td>' +
            '</tr>';

        // Agregar la nueva fila al final de la tabla
        $('#tabla_experiencia tbody').append(newRow);

        // Limpiar los campos de la ventana modal
        $('#id_empresa, #id_puesto, #id_actividades, #id_fecha_inicial, #id_fecha_final').val('');
        $('#id_empresa_can, #id_puesto_can, #id_actividades_can, #id_fecha_inicial_can, #id_fecha_final_can').val('');

        // Ocultar la ventana modal
        $('#experiencia_empleado').modal('hide');
    };
    $('#btn-cancela').on('click', function () {
        if ($('#id_editar').val() == 'Edita') {
            btn_agrega_experiencia();
        }
        $('#experiencia_empleado').modal('hide');
    });
    $('#tabla_experiencia').on('click', '.btnEliminarFila', function () {
        // Obtener la fila que contiene el botón en el que se hizo clic
        $(this).closest('tr').remove();
    });
    $('#tabla_experiencia').on('click', '.btnEditarFila', function () {
        // Obtener la fila que contiene el botón en el que se hizo clic
        var fila = $(this).closest('tr');
        $('#id_editar').val('Edita');
        fila.find('td').each(function (index) {
            if (index === 0 || index == 1) return; // Saltar la primera columna (botón de eliminar)
            if (index == '2') {
                campo_nombre = $('#id_empresa');
                campo_nombre_can = $('#id_empresa_can');
            } else if (index == '3') {
                campo_nombre = $('#id_puesto');
                campo_nombre_can = $('#id_puesto_can');
            } else if (index == '4') {
                campo_nombre = $('#id_actividades');
                campo_nombre_can = $('#id_actividades_can');
            } else if (index == '5') {
                campo_nombre = $('#id_fecha_inicial');
                campo_nombre_can = $('#id_fecha_inicial_can');
            } else {
                campo_nombre = $('#id_fecha_final');
                campo_nombre_can = $('#id_fecha_final_can');
            }
            campo_nombre.val($(this).text());
            campo_nombre_can.val($(this).text());
        });
        // Eliminar la fila
        fila.remove();
        $('#experiencia_empleado').modal('show');
    });
    {% endblock %}
</script>