{% extends "core/base.html" %}
{% load static %}
{% block css %}
<title>Idiomas empleado</title>
{% endblock %}
{% block contenido %}
<form id="formaIdiomas" method="post" action="{% url 'idioma_empleado' pk %}">
    {% csrf_token %}
    <div>
        <h1>Lista de idiomas</h1>
        <h4 style="font-style: italic;">{{ nombre }}</h4>
        <hr>
        <div class="form-group col-4" id="gpo_btn_cliente">
            <button type="button" class="btn btn-info" id="btn-agrega">
                Agrega idioma
            </button>
        </div>
        <table class="table table-striped" id="tabla_idiomas">
            <thead>
                <tr>
                    <th class="col-1"></th>
                    <th class="col-1"></th>
                    <th>Idioma</th>
                    <th class="text_center">Leido %</th>
                    <th class="text_center">Hablado %</th>
                </tr>
            </thead>
            <tbody>
                {% for idioma in datos.idioma %}
                <tr>
                    <td><img class="btnEliminarFila" src="{% static 'core/img/eliminar.svg' %}" alt=""></td>
                    <td><img class="btnEditarFila" src="{% static 'core/img/editar.svg' %}" alt=""></td>
                    <td>{{ idioma.idioma }}</td>
                    <td class="text_center">{{ idioma.leido }}</td>
                    <td class="text_center">{{ idioma.hablado }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <div class="row justify-content-center">
            <button class="btn btn-success col-4" type="submit">
                <img src="{% static 'core/img/guardar.svg' %}" alt="">
            </button>
            <a class="btn btn-info col-4 info1" href="{% url 'modificar_empleado' pk %}">
                <img src="{% static 'core/img/regresar.svg' %}" alt="">
            </a>
        </div>

    </div>
    <input type="text" name="datosTabla" id="id_datosTabla" hidden>
</form>
<div class="modal fade" id="idiomas_empleado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">        
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: darkgrey;">
            <div class="modal-header">
                <h4 class="encabezados" style="font-weight: bold;">Idioma</h4>
                <button type="button" class="btn btn-info" data-dismiss="modal" title="Cancelar"
                    id="btn-cancela">
                    <img src="{% static 'core/img/regresar.svg' %}" width="20" />
                </button>
                <button type="button" class="btn btn-success btn-agrega-tabla" title="Agregar"
                    id="btn-guarda">
                    <img src="{% static 'core/img/autoriza.svg' %}" width="20" />
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="text" name="editar" id="id_editar" class="form-control" hidden>
                    <div class="form-group col-8">
                        <strong>Idioma:</strong>
                        <select name="idioma" id="id_idioma" class="form-control">
                            {% for id, lenguaje in idioma %}
                            <option value="{{ id }}">{{ lenguaje }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="idioma_can" id="id_idioma_can" class="form-control" hidden>
                    </div>
                    <div class="form-group col-8" id="gpo_otro" hidden>
                        <strong>Otro idioma:</strong>
                        <input type="text" name="otro" id="id_otro" class="form-control">
                    </div>
                    <div class="form-group col-6">
                        <strong>Leido %:</strong>
                        <input type="text" name="leido" id="id_leido" class="form-control" maxlength="3"
                           onfocusout="reformatear('id_leido')" onkeypress="return valideKey(event);">
                        <input type="text" name="leido_can" id="id_leido_can" class="form-control" hidden>
                    </div>
                    <div class="form-group col-6">
                        <strong>Hablado %:</strong>
                        <input type="text" name="hablado" id="id_hablado" class="form-control" maxlength="3"
                            onfocusout="reformatear('id_habaldo')" onkeypress="return valideKey(event);">
                        <input type="text" name="hablado_can" id="id_hablado_can" class="form-control" hidden>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<script>
    {% block docred %}
    $('#id_idioma').change(function() {
        var selectedText = $(this).find('option:selected').text();
        if (selectedText === 'Otro') { // Reemplaza 'your_option_value' con el valor de la opción que quieres activar
            $('#gpo_otro').removeAttr('hidden');
        } else {
            $('#gpo_otro').attr('hidden', 'hidden');
        }
    });
    $('#formaIdiomas').submit(function(event) {
        // Evitar el envío del formulario por defecto
        event.preventDefault();

        // Obtener los datos de la tabla y serializarlos como JSON
        var datosTabla = obtenerDatosTabla();
        var datosJson = JSON.stringify(datosTabla);

        // Establecer los datos JSON en el campo oculto del formulario
        $('#id_datosTabla').val(datosJson);

        // Enviar el formulario
        this.submit();
    });
    function obtenerDatosTabla() {
        var datos = [];
        $('#tabla_idiomas tbody tr').each(function() {
            var fila = {};
            $(this).find('td').each(function(index) {
                if (index === 0 || index == 1 ) return; // Saltar la primera columna (botón de eliminar)
                if (index == '2') {
                    fila['idioma'] = $(this).text();
                } else if (index == '3') {
                    fila['leido'] = $(this).text();
                } else if (index == '4') {
                    fila['hablado'] = $(this).text();
                }
            });
            datos.push(fila);
        });
        return datos;
    }
    $('#id_leido #id_hablado').on('input', function () {
        var valor = $(this).val();
        // Verificar si el valor está dentro del rango permitido
        if (valor < 0 || valor > 100) {
            alert('El porcentaje debe estar entre 0 y 100.');
            // Limpiar el campo
            $(this).val('');
        }
    });
    $('#btn-agrega').on('click', function () {
        $('#gpo_otro').attr('hidden', 'hidden');
        $('#id_editar').val('Nuevo');
        $('#id_idioma, #id_idioma_can, #id_leido, #id_leido_can, #id_hablado, #id_hablado_can, #id_otro').val('');
        $('#idiomas_empleado').modal('show');
    }); 
    $('#btn-guarda').on('click', function () {
        $('#id_editar').val('Nuevo');
        $('#idiomas_empleado').modal('hide');
    }); 
    $('.btn-agrega-tabla').on('click', function () {

        if ($('#id_editar').val() == 'Edita') {
            // Captura de valores de los campos de la ventana modal
            var idioma = $('#id_idioma_can').val();
            var leido = $('#id_leido_can').val();
            var hablado = $('#id_hablado_can').val();
        } else if ($('#id_editar').val() == 'Nuevo') {
            // Captura de valores de los campos de la ventana modal
            var idioma = $('#id_idioma option:selected').text();
            var leido = $('#id_leido').val();
            var hablado = $('#id_hablado').val();
            var otro = $('#id_otro').val();
        } else {
            $('#idiomas_empleado').modal('hide');
            return;
        }

        if (idioma == 'Otro' ) {
            if (!otro) {
                alert('Por favor, ponga otro idioma.');
                return;
            } else {
                idioma = otro
            }
        }

        if (!idioma || !leido || !hablado) {
            alert('Por favor, ponga idioma y porcentaje.');
            return;
        }

        // Verificar si la suma total es mayor a 100
        if (leido > 100 || hablado > 100) {
            alert('El porcentajes no puede ser mayor a 100.');
            return;
        }

        // Creación de la nueva fila de la tabla
        direccion_imagen_elimina = "{% static 'core/img/eliminar.svg' %}";
        direccion_imagen_edita = "{% static 'core/img/editar.svg' %}";
        var newRow = '<tr>' +
            '<td><img class="btnEliminarFila" src="' + direccion_imagen_elimina + '" alt=""></td>' +  // Botón de eliminar en la primera columna
            '<td><img class="btnEditarFila" src="' + direccion_imagen_edita + '" alt=""></td>' +  // Botón de editar en la primera columna
            '<td>' + idioma + '</td>' +
            '<td class="text_center">' + leido + '</td>' +
            '<td class="text_center">' + hablado + '</td>' +
            '</tr>';

        // Agregar la nueva fila al final de la tabla
        $('#tabla_idiomas tbody').append(newRow);

        // Limpiar los campos de la ventana modal
        $('#id_idioma, #id_leido, #id_hablado, #id_otro').val('');
        $('#id_idioma_can, #id_leido_can, #id_hablado_can').val('');

        // Ocultar la ventana modal
        $('#idiomas_empleado').modal('hide');
    });
    $('#btn-cancela').on('click', function () {
        if ($('#id_editar').val() == 'Edita') {
            $('.btn-agrega-tabla').click();
        }
        $('#idiomas_empleado').modal('hide');
    });
    $('#tabla_idiomas').on('click', '.btnEliminarFila', function () {
        // Obtener la fila que contiene el botón en el que se hizo clic
        $(this).closest('tr').remove();
    });
    $('#tabla_idiomas').on('click', '.btnEditarFila', function () {
        // Obtener la fila que contiene el botón en el que se hizo clic
        $('#gpo_otro').attr('hidden', 'hidden');
        var fila = $(this).closest('tr');
        $('#id_editar').val('Edita');
        fila.find('td').each(function(index) {
            if (index === 0 || index == 1 ) return; // Saltar la primera columna (botón de eliminar)
            if (index == '2') {
                var lenguaje = $(this).text();
                // Seleccionar la opción en el select basada en el texto
                var existe_lenguaje = false;
                $('#id_idioma option').each(function() {
                    if ($(this).text() === lenguaje) {
                        $(this).prop('selected', true);
                        existe_lenguaje = true;
                    }
                });
                if (!existe_lenguaje) {
                    $('#gpo_otro').removeAttr('hidden');
                    $('#id_idioma option').each(function() {
                        if ($(this).text() === 'Otro') {
                            $(this).prop('selected', true);
                        }
                    });
                    $('#id_otro').val(lenguaje);
                }
                campo_nombre_can = $('#id_idioma_can');
                campo_nombre_can.val($(this).text());
                return; // Salir del bucle each
            } else if (index == '3') {
                campo_nombre = $('#id_leido');
                campo_nombre_can = $('#id_leido_can');
            } else {
                campo_nombre = $('#id_hablado');
                campo_nombre_can = $('#id_hablado_can');
            }
            campo_nombre.val($(this).text());
            campo_nombre_can.val($(this).text());
        });
        // Eliminar la fila
        fila.remove();
        $('#idiomas_empleado').modal('show');
    });
    {% endblock %}
</script>