{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block css %}
<title>Asignaciones</title>
{% endblock %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% block contenido %}
    <h1>{{ forma }} asiganción {{ registro }}</h1>
    <form method="post" id="formaAsignacion">
        {% csrf_token %}
        <div class="row col-12">
            <div class="col-6">
                {{ form.cliente|as_crispy_field }}
                <label class="label_errores" id="errorCliente"></label>
            </div>
            <div class="col-4">
                {{ form.cobro.label_tag }}
                <input type="text" name="cobro" id="id_cobro" class="form-control text-end"
                    value="{{ form.cobro.value }}"
                    onfocusout="reformatear('id_cobro')" onkeypress="return valideKey(event);">
                    <label class="label_errores" id="errorCobro"></label>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-6">
                {{ form.servicio|as_crispy_field }}
            </div>
            <div class="col-6" id="gpo_otro_servicio"
            {% if form.servicio.value != "99" and form.servicio.value != 99 %}
            hidden
            {% endif %}>
                {{ form.otro_servicio|as_crispy_field }}
                <label class="label_errores" id="errorOtroServicio"></label>
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-12">
                {{ form.detalle|as_crispy_field }}
                <label class="label_errores" id="errorDetalle"></label>
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-4">
                Inicia
                <input type="date" name="fecha_inicial" id="id_fecha_inicial" class="form-control"
                    value="{{ form.fecha_inicial.value|date:'Y-m-d' }}">
                
                <label class="label_errores" id="errorFechaInicial"></label>
            </div>
            <div class="col-4">
                Termina
                <input type="date" name="fecha_termina" id="id_fecha_termina" class="form-control"
                    value="{{ form.fecha_termina.value|date:'Y-m-d' }}">
            </div>
        </div>
        <div class="col-12 row">
            <div class="row col-4" hidden>
                {{ form.estatus|as_crispy_field }}
            </div>
            <div class="row col-4" hidden>
                <input type="date" name="fecha_termina" id="id_fecha_termina" class="form-control"
                    value="{{ form.fecha_termina.value|date:'Y-m-d' }}">
            </div>
        </div>
        <hr>
        <div class="row col-8">
            <button class="btn btn-info btn-mas" id="btn-agrega-empleado"> + </button>
            <table class="table table-striped" id="tablaEmpleadosAsignados">
                <thead>
                    <tr>
                        <th hidden>Id</th>
                        <th>Paterno</th>
                        <th>Materno</th>
                        <th>Nombre</th>
                        <th>RFC</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in asignacion.empleados.all %}
                    <tr id="filaEmpleado{{ empleado.id }}" style="padding: 0;">
                        <td hidden>{{ empleado.id }}</td>
                        <td>{{ empleado.paterno|default_if_none:"" }}</td>
                        <td>{{ empleado.materno|default_if_none:"" }}</td>
                        <td>{{ empleado.nombre|default_if_none:"" }}</td>
                        <td>{{ empleado.rfc|default_if_none:"" }}</td>
                        <td>
                            <!-- Llamar a la función transferirFila al hacer clic en el botón -->
                            <button type="button" class="btn btn-danger" onclick="transferirFila('filaEmpleado{{ empleado.id }}', 'tablaEmpleadosAsignados')">
                                <img src="{% static 'core/img/eliminar.svg' %}" alt="">
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <label class="label_errores" id="errorTablaEmpleados"></label>
        </div>
        <hr>
        <div class="row col-12">
            <button class="btn btn-info btn-mas" id="btn-agrega-vehiculo"> + </button>
            <table class="table table-striped" id="tablaVehiculosAsignados">
                <thead>
                    <tr>
                        <th hidden>Id</th>
                        <th>Placa</th>
                        <th>Tipo</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Color</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehiculo in asignacion.vehiculos.all %}
                    <tr id="filaVehiculo{{ vehiculo.id }}" style="padding: 0;">
                        <td hidden>{{ vehiculo.id }}</td>
                        <td>{{ vehiculo.placa|default_if_none:"" }}</td>
                        <td>{{ vehiculo.get_tipo_vehiculo_display|default_if_none:"" }}</td>
                        <td>{{ vehiculo.get_marca_display|default_if_none:"" }}</td>
                        <td>{{ vehiculo.modelo|default_if_none:"" }}</td>
                        <td>{{ vehiculo.color|default_if_none:"" }}</td>
                        <td>
                            <!-- Llamar a la función transferirFila al hacer clic en el botón -->
                            <button type="button" class="btn btn-danger" onclick="transferirFilaVehiculo('filaVehiculo{{ vehiculo.id }}', 'tablaVehiculosAsignados')">
                                <img src="{% static 'core/img/eliminar.svg' %}" alt="">
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <label class="label_errores" id="errorTablaVehiculos"></label>
        </div>
        <hr>
        <div class="row justify-content-center">
            <button class="btn btn-success col-4" type="submit">
                <img src="{% static 'core/img/guardar.svg' %}" alt="">
            </button>
            <a class="btn btn-info col-4 info1" href="{% url 'asignacion_list' %}">
                <img src="{% static 'core/img/regresar.svg' %}" alt="">
            </a>
        </div>
    </form>
    <div class="modal fade" id="ventanaEmpleados" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-backdrop="static" data-bs-keyboard="false">        
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: darkgrey;">
                <div class="modal-header">
                    <h4 class="encabezados" style="font-weight: bold;">Empleado dispobnibles</h4>
                    <button type="button" class="btn btn-info" data-dismiss="modal" title="Cancelar"
                        id="btn-salir-empleado">
                        <img src="{% static 'core/img/regresar.svg' %}" width="20" />
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <table class="table table-striped" id="tablaEmpleadosDisponibles">
                                <thead>
                                    <tr>
                                        <th hidden>id</th>
                                        <th>Paterno</th>
                                        <th>Materno</th>
                                        <th>Nombre</th>
                                        <th>RFC</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for empleadoS in empleadosSinAsignacion %}
                                    <tr id="filaEmpleado{{ empleadoS.id }}" style="padding: 0;">
                                        <td hidden>{{ empleadoS.id }}</td>
                                        <td>{{ empleadoS.paterno|default_if_none:"" }}</td>
                                        <td>{{ empleadoS.materno|default_if_none:"" }}</td>
                                        <td>{{ empleadoS.nombre|default_if_none:"" }}</td>
                                        <td>{{ empleadoS.rfc|default_if_none:"" }}</td>
                                        <td>
                                            <button type="button" class="btn btn-info" onclick="transferirFila('filaEmpleado{{ empleadoS.id }}', 'tablaEmpleadosDisponibles')">
                                                <img src="{% static 'core/img/agregar.svg' %}" alt="">
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ventanaVehiculos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-backdrop="static" data-bs-keyboard="false">        
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: darkgrey;">
                <div class="modal-header">
                    <h4 class="encabezados" style="font-weight: bold;">Vehículos disponibles</h4>
                    <button type="button" class="btn btn-info" data-dismiss="modal" title="Cancelar"
                        id="btn-salir-vehiculo">
                        <img src="{% static 'core/img/regresar.svg' %}" width="20" />
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <table class="table table-striped" id="tablaVehiculosDisponibles">
                                <thead>
                                    <tr>
                                        <th hidden>id</th>
                                        <th>Placa</th>
                                        <th>Tipo</th>
                                        <th>Marca</th>
                                        <th>Modelo</th>
                                        <th>Color</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for vehiculoS in vehiculosSinAsignacion %}
                                    <tr id="filaVehiculo{{ vehiculoS.id }}" style="padding: 0;">
                                        <td hidden>{{ vehiculoS.id }}</td>
                                        <td>{{ vehiculoS.placa|default_if_none:"" }}</td>
                                        <td>{{ vehiculoS.get_tipo_vehiculo_display|default_if_none:"" }}</td>
                                        <td>{{ vehiculoS.get_marca_display|default_if_none:"" }}</td>
                                        <td>{{ vehiculoS.modelo|default_if_none:"" }}</td>
                                        <td>{{ vehiculoS.color|default_if_none:"" }}</td>
                                        <td>
                                            <button type="button" class="btn btn-info" onclick="transferirFilaVehiculo('filaVehiculo{{ vehiculoS.id }}', 'tablaVehiculosDisponibles')">
                                                <img src="{% static 'core/img/agregar.svg' %}" alt="">
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function transferirFilaVehiculo(idFila, origen) {
            // Obtener la fila correspondiente

            var fila = document.getElementById(idFila);
            
            // Clonar la fila para mantener la original en la tabla de origen
            var filaClonada = fila.cloneNode(true);
            
            filaClonada.querySelector('button').remove();

            filaClonada.children[0].style.display = 'none';

            // Agregar un botón de regreso en la fila clonada
            var botonRegreso = document.createElement('button');
            botonRegreso.setAttribute('type', 'button');
            filaClonada.children[6].appendChild(botonRegreso);

            // Determinar la tabla de destino y eliminar la fila de la tabla de origen
            var destino;
            if (origen === 'tablaVehiculosDisponibles') {
                destino = "tablaVehiculosAsignados";
                botonRegreso.setAttribute('class', 'btn btn-danger');
                botonRegreso.innerHTML = '<img src="{% static "core/img/eliminar.svg" %}" alt="">';
            } else {
                destino = "tablaVehiculosDisponibles";
                botonRegreso.setAttribute('class', 'btn btn-info');
                botonRegreso.innerHTML = '<img src="{% static "core/img/agregar.svg" %}" alt="">';
            }
            botonRegreso.setAttribute('onclick', `transferirFilaVehiculo('${idFila}', '${destino}')`);
            document.getElementById(destino).querySelector("tbody").appendChild(filaClonada);

            // Eliminar la fila de la tabla de origen
            fila.remove();
        }
        function transferirFila(idFila, origen) {
            // Obtener la fila correspondiente

            var fila = document.getElementById(idFila);
            
            // Clonar la fila para mantener la original en la tabla de origen
            var filaClonada = fila.cloneNode(true);
            
            filaClonada.querySelector('button').remove();

            filaClonada.children[0].style.display = 'none';

            // Agregar un botón de regreso en la fila clonada
            var botonRegreso = document.createElement('button');
            botonRegreso.setAttribute('type', 'button');
            filaClonada.children[5].appendChild(botonRegreso);

            // Determinar la tabla de destino y eliminar la fila de la tabla de origen
            var destino;
            if (origen === 'tablaEmpleadosDisponibles') {
                destino = "tablaEmpleadosAsignados";
                botonRegreso.setAttribute('class', 'btn btn-danger');
                botonRegreso.innerHTML = '<img src="{% static "core/img/eliminar.svg" %}" alt="">';
            } else {
                destino = "tablaEmpleadosDisponibles";
                botonRegreso.setAttribute('class', 'btn btn-info');
                botonRegreso.innerHTML = '<img src="{% static "core/img/agregar.svg" %}" alt="">';
            }
            botonRegreso.setAttribute('onclick', `transferirFila('${idFila}', '${destino}')`);
            document.getElementById(destino).querySelector("tbody").appendChild(filaClonada);

            // Eliminar la fila de la tabla de origen
            fila.remove();
        }
        function asignarEmpleado(idEmpleado, idAsignacion) {
            // Realizar la solicitud AJAX a la URL configurada
            $.ajax({
                type: 'POST',
                url: '/ruta/a/asignar-empleado/', // Reemplaza '/ruta/a/asignar-empleado/' con la URL correcta
                data: {
                    'empleado_id': idEmpleado,
                    'asignacion_id': idAsignacion
                },
                success: function(response) {
                    if (response.success) {
                        console.log('Empleado asignado correctamente.');
                    } else {
                        console.error('Error al asignar empleado:', response.error);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error en la solicitud AJAX:', error);
                }
            });
        }

    </script>
{% endblock %}

<script>
{% block docred %}
    
    function compararFilasVehiculos(a, b) {
        // Obtener el contenido de las celdas de las columnas 2, 3 y 4 de las filas a y b
        var columna2A = $(a).children('td').eq(1).text();
        var columna3A = $(a).children('td').eq(2).text();
        var columna4A = $(a).children('td').eq(3).text();
        
        var columna2B = $(b).children('td').eq(1).text();
        var columna3B = $(b).children('td').eq(2).text();
        var columna4B = $(b).children('td').eq(3).text();
        
        // Comparar los valores de las celdas
        if (columna2A == columna2B) {
            if (columna3A == columna3B) {
                return columna4A.localeCompare(columna4B); // Ordenar por la cuarta columna
            }
            return columna3A.localeCompare(columna3B); // Ordenar por la tercera columna
        }
        return columna2A.localeCompare(columna2B); // Ordenar por la segunda columna
    }
    
    // Función para ordenar una tabla
    function ordenarTablaVehiculos(tabla) {
        // Obtener las filas de la tabla y ordenarlas utilizando la función de comparación
        var filas = $(tabla + ' tbody > tr').get();
        filas.sort(compararFilasVehiculos);
        
        // Agregar las filas ordenadas a la tabla
        $.each(filas, function(index, fila) {
            $(tabla).children('tbody').append(fila);
        });
    }
    $('#btn-agrega-vehiculo').on('click', function () {
        event.preventDefault();
        ordenarTablaVehiculos('#tablaVehiculosDisponibles');
        $('#ventanaVehiculos').modal('show');
    }); 
    $('#btn-salir-vehiculo').on('click', function () {
        event.preventDefault();
        ordenarTablaVehiculos('#tablaVehiculosAsignados');
        $('#ventanaVehiculos').modal('hide');
    }); 
    function compararFilasEmpleados(a, b) {
        // Obtener el contenido de las celdas de las columnas 2, 3 y 4 de las filas a y b
        var columna2A = $(a).children('td').eq(1).text();
        var columna3A = $(a).children('td').eq(2).text();
        var columna4A = $(a).children('td').eq(3).text();
        
        var columna2B = $(b).children('td').eq(1).text();
        var columna3B = $(b).children('td').eq(2).text();
        var columna4B = $(b).children('td').eq(3).text();
        
        // Comparar los valores de las celdas
        if (columna2A == columna2B) {
            if (columna3A == columna3B) {
                return columna4A.localeCompare(columna4B); // Ordenar por la cuarta columna
            }
            return columna3A.localeCompare(columna3B); // Ordenar por la tercera columna
        }
        return columna2A.localeCompare(columna2B); // Ordenar por la segunda columna
    }
    
    // Función para ordenar una tabla
    function ordenarTablaEmpleados(tabla) {
        // Obtener las filas de la tabla y ordenarlas utilizando la función de comparación
        var filas = $(tabla + ' tbody > tr').get();
        filas.sort(compararFilasEmpleados);
        
        // Agregar las filas ordenadas a la tabla
        $.each(filas, function(index, fila) {
            $(tabla).children('tbody').append(fila);
        });
    }
    
    // Llamar a la función para ordenar cada tabla
    $('#btn-agrega-empleado').on('click', function () {
        event.preventDefault();
        ordenarTablaEmpleados('#tablaEmpleadosDisponibles');
        $('#ventanaEmpleados').modal('show');
    }); 
    $('#btn-salir-empleado').on('click', function () {
        event.preventDefault();
        ordenarTablaEmpleados('#tablaEmpleadosAsignados');
        $('#ventanaEmpleados').modal('hide');

    }); 
    $('#id_servicio').change(function () {
        var selectedText = $(this).find('option:selected').text();
        if (selectedText === 'Otro') { 
            $('#gpo_otro_servicio').removeAttr('hidden');
        } else {
            $('#gpo_otro_servicio').attr('hidden', 'hidden');
            $('#id_otro_servicio').val('');
        }
    });
    $('#formaAsignacion').submit(function(event) {
        // Evitar el envío del formulario por defecto
        event.preventDefault();
        // Agregar un event listener para el evento submit del formulario
        var cobroInput = document.getElementById("id_cobro");
        var cobroValue = cobroInput.value;

        // Eliminar las comas del valor del campo cobro
        var cleanedCobroValue = cobroValue.replace(/,/g, '');

        // Actualizar el valor del campo cobro con el valor limpio
        cobroInput.value = cleanedCobroValue;

        correcto = true;

        // Validar el campo de fecha inicial
        var fechaInicialInput = document.getElementById('id_fecha_inicial');
        var fechaInicialValue = fechaInicialInput.value;
        if (fechaInicialValue === "") {
            // Mostrar mensaje de error para el campo de fecha inicial
            document.getElementById('errorFechaInicial').innerText = 'Ingresa la fecha inicial';
            correcto = false;
        } else {
            // Limpiar mensaje de error si el campo es válido
            document.getElementById('errorFechaInicial').innerText = '';
        }

        // Validar el campo select
        var clienteSelect = document.getElementById('id_cliente');
        if (clienteSelect.value === "") {
            // Mostrar mensaje de error para el campo select
            document.getElementById('errorCliente').innerText = 'Selecciona un cliente.';
            correcto = false;
        } else {
            document.getElementById('errorCliente').innerText = '';
        }
        // Validar el campo select
        var servicioSelect = document.getElementById('id_servicio');
        if (servicioSelect.value === "99") {
            // Mostrar mensaje de error para el campo select
            var otroServicioText = document.getElementById('id_otro_servicio');
            if (otroServicioText.value === "") {
                document.getElementById('errorOtroServicio').innerText = 'Ingresa otro servicio.';
                correcto = false;
            } else {
                document.getElementById('errorOtroServicio').innerText = '';    
            }
        } else {
            document.getElementById('errorOtroServicio').innerText = '';
        }
        // Validar el campo input text
        var cobroInput = document.getElementById('id_cobro');
        if (cobroInput.value === "0") {
            // Mostrar mensaje de error para el campo input text
            document.getElementById('errorCobro').innerText = 'Ingresa cobro.';
            correcto = false;
        } else {
            document.getElementById('errorCobro').innerText = '';
        }

        // Validar el campo textarea
        var detalleTextarea = document.getElementById('id_detalle');
        if (detalleTextarea.value === "") {
            // Mostrar mensaje de error para el campo textarea
            document.getElementById('errorDetalle').innerText = 'Ingresa detalle.';
            correcto = false;
        } else {
            document.getElementById('errorDetalle').innerText = '';
        }

        if (document.getElementById('tablaEmpleadosAsignados').getElementsByTagName('tbody')[0].getElementsByTagName('tr').length < 1) {
            // Muestra el mensaje de error
            document.getElementById('errorTablaEmpleados').innerText = 'Debes agregar al menos un empleado.';
            correcto = false;
        } else {
            document.getElementById('errorTablaEmpleados').innerText = '';
        }
/*        if (document.getElementById('tablaVehiculosAsignados').getElementsByTagName('tbody')[0].getElementsByTagName('tr').length < 1) {
            // Muestra el mensaje de error
            document.getElementById('errorTablaVehiculos').innerText = 'Debes agregar al menos un vehiculo.';
            correcto = false;
        } else {
            document.getElementById('errorTablaVehiculos').innerText = '';
        }
*/
        if (correcto) {
            // Enviar el formulario
            var empleadosAsignados = [];
            $('#tablaEmpleadosAsignados tbody tr').each(function() {
                var empleado = {
                    id: $(this).find('td:eq(0)').text(),
                };
                empleadosAsignados.push(empleado);
            });

            // Recopilar los datos de la tabla de vehículos disponibles
            var vehiculosAsignados = [];
            $('#tablaVehiculosAsignados tbody tr').each(function() {
                var vehiculo = {
                    id: $(this).find('td:eq(0)').text(),
                };
                vehiculosAsignados.push(vehiculo);
            });

            // Agregar los datos de las tablas como campos adicionales en el formulario
            $('<input>').attr({
                type: 'hidden',
                name: 'empleados_asignados',
                value: JSON.stringify(empleadosAsignados)
            }).appendTo('#formaAsignacion');

            $('<input>').attr({
                type: 'hidden',
                name: 'vehiculos_asignados',
                value: JSON.stringify(vehiculosAsignados)
            }).appendTo('#formaAsignacion');
            this.submit();
        } else {
            return false;
        }
    });
{% endblock %}
</script>