{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block css %}
<title>Autorización</title>
{% endblock %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% block contenido %}
    <h1>Autorización</h1>
    <form method="post" id="formaAsignacionAutorizacion">
        {% csrf_token %}
        <div class="row col-12">
            <div class="col-6">
                Cliente
                <input type="text" name="cliente" id="id_cliente" class="form-control"
                    value="{{ asignacion.cliente }}" readonly>
            </div>
            <div class="col-4">
                Cobro
                <input type="text" name="cobro" id="id_cobro" class="form-control text-end"
                    value="{{ asignacion.cobro }}" readonly>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-6">
                Serivio
                <input type="text" name="servicio" id="id_servicio" class="form-control"
                    value="{{ asignacion.get_servicio_display }}" readonly>
            </div>
            <div class="col-6" id="gpo_otro_servicio"
            {% if asignacion.servicio.value != "99" and asignacion.servicio.value != 99 %}
            hidden
            {% endif %}>
                Otro servicio
                <input type="text" name="otro_servicio" id="id_otro_servicio" class="form-control"
                    value="{{ asignacion.otro_servicio }}" readonly>
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-12">
                Detalle
                <input type="text" name="detalle" id="id_detalle" class="form-control"
                    value="{{ asignacion.detalle }}" readonly>
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-4">
                Inicia
                <input type="date" name="fecha_inicial" id="id_fecha_inicial" class="form-control"
                    value="{{ asignacion.fecha_inicial|date:'Y-m-d' }}" readonly>
            </div>
            <div class="col-4">
                Termina
                <input type="date" name="fecha_termina" id="id_fecha_termina" class="form-control"
                    value="{{ asignacion.fecha_termina|date:'Y-m-d' }}" readonly>
            </div>
        </div>
        <div class="col-12 row">
            <div class="row col-4" hidden>
                Estatus
                <input type="text" name="estatus" id="id_estatus" class="form-control text-end"
                    value="{{ asignacion.get_estatus_display }}" readonly>
            </div>
        </div>
        <hr>
        <div class="row col-8">
            <table class="table table-striped" id="tablaEmpleadosAsignados">
                <thead>
                    <tr>
                        <th hidden>Id</th>
                        <th>Paterno</th>
                        <th>Materno</th>
                        <th>Nombre</th>
                        <th>RFC</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in asignacion.empleados.all %}
                    <tr id="filaEmpleado{{ empleado.id }}" style="padding: 0;">
                        <td hidden>{{ empleado.id }}</td>
                        <td>{{ empleado.paterno|default_if_none:"" }}</td>
                        <td>{{ empleado.materno|default_if_none:"" }}</td>
                        <td>{{ empleado.nombre|default_if_none:"" }}</td>
                        <td>{{ empleado.rfc|default_if_none:"" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <label class="label_errores" id="errorTablaEmpleados"></label>
        </div>
        <hr>
        <div class="row col-12">
            <table class="table table-striped" id="tablaVehiculosAsignados">
                <thead>
                    <tr>
                        <th hidden>Id</th>
                        <th>Placa</th>
                        <th>Tipo</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Color</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehiculo in asignacion.vehiculos.all %}
                    <tr id="filaVehiculo{{ vehiculo.id }}" style="padding: 0;">
                        <td hidden>{{ vehiculo.id }}</td>
                        <td>{{ vehiculo.placa|default_if_none:"" }}</td>
                        <td>{{ vehiculo.get_tipo_vehiculo_display|default_if_none:"" }}</td>
                        <td>{{ vehiculo.get_marca_display|default_if_none:"" }}</td>
                        <td>{{ vehiculo.modelo|default_if_none:"" }}</td>
                        <td>{{ vehiculo.color|default_if_none:"" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <label class="label_errores" id="errorTablaVehiculos"></label>
        </div>
        <hr>
        <div class="row justify-content-center">
            <button class="btn btn-success col-4" type="submit" title="Confirma autorización asignación">
                <img src="{% static 'core/img/confirmar.svg' %}" alt="">
            </button>
            <a class="btn btn-danger col-4 info1" href="{% url 'asignacion_list' %}" title="Cancelar">
                <img src="{% static 'core/img/cancelar.svg' %}" alt="" >
            </a>
        </div>
    </form>
{% endblock %}
